body
{
	background-image: url(img/tlo.png); 
	font-family: 'Anton', sans-serif;
	color: #262626; 
	margin: 0px !important;
}

#all 
{
	font-size: 16px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	font-size: 40px;
	font-family: 'Chewy', cursive;
}

#logo
{
	width: 200px;
	background-color: white;
	padding: 30px;
	margin: 40px;
	float: left;
}

#watch
{
	width: 200px;
	background-color: white;
	padding: 30px;
	margin: 40px;
}